/* Class and ID styling following SMACSS CSS styling rules*/


#social-bar {
  display: inline-block;
  padding: 15px 0;
}


.project h1 {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 25px;
}

.project p {
  padding-top: 40px;
  font-family: 'Bungee', sans-serif;
}
.course p {
  font-family:
}

.icon-menu {
  float: left;
  transform: scale(2,2);
  padding-bottom: 10px;
  padding-left: 15px;
}

#menu ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  /*width: 150px;*/
}

#menu:hover ul  {
  display: block;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.template {
  display: none;
}

#social-bar::before, #social-bar::after {
  content:"";
  display: table;
}
